/* Selector de tipo -> p */
body{
   
    background-image: url(https://thumbs.dreamstime.com/b/im%C3%A1genes-de-m%C3%A1rmol-verdes-del-papel-pintado-fondo-imagen-verde-para-el-uso-multiusos-en-la-promoci%C3%B3n-l%C3%ADnea-148106096.jpg);
    padding: 20 px;
    margin: 0px 30px;
    
}

h1{
    font-family: 'Viga', sans-serif;
    color:#58A60A;
}

h2{
    font-family: 'Fjalla One', sans-serif;
    color:#274001;
}

h3{
    font-family: 'Fjalla One', sans-serif;
    color:#0D0D0D;
}

h4{
    font-family: 'Fjalla One', sans-serif;
    color:#0D0D0D;
}

h5{
    font-family: 'Fjalla One', sans-serif;
}


p{
    font-family: 'Kulim Park', sans-serif;
    font-family: 'Viga', sans-serif;
    color:#0D0D0D;
}

ul{
    font-family: 'Kulim Park', sans-serif;
    font-family: 'Viga', sans-serif;   
}

ol{
    font-family: 'Kulim Park', sans-serif;
    font-family: 'Viga', sans-serif;
}

/* Selector de clase -> texto-rosa */
.texto-rosa{
    color:pink;
}

.texto-bold{
    font-weight: 900;
}

#seccion-formulario{
    background-color: lavender;
}

input[type="text"]{
    background-color: #9AA66D;
}

img{
    width: 300px;
    height: 200px;
    border-radius: 50%;
}